net fclk loc=T9;
net reset loc=K4;
net push_button loc=E11;
net led1_a loc= H14;
net led1_b loc= M4;
net led1_c loc= P1;
net led1_d loc= N3;
net led1_e loc= M15;
net led1_f loc= H13;
net led1_g loc= G16;
net led2_a loc= E2;
net led2_b loc= E1;
net led2_c loc= F3;
net led2_d loc= F2;
net led2_e loc= G4;
net led2_f loc= G3; 
net led2_g loc= G1;
